<footer class="footer mb-0">
  <div class="row align-items-center justify-content-xl-between mb-0">
    <div class="col-xl-6">
      <div class="copyright text-center text-xl-left text-muted mb-0">
        &copy; {{ test | date: "yyyy" }} <a class="font-weight-bold ml-1" target="_blank">Twin</a>
      </div>
    </div>
    <div class="col-xl-6">
      <ul class="nav nav-footer justify-content-center justify-content-xl-end">
        <li class="nav-item">
          <a class="nav-link" target="_blank">esprit
          </a>
        </li>
        <li class="nav-item">
          <a href="https://github.com/Abdessalem-ghodbeni" class="nav-link" target="_blank">About Abdessalem</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_blank">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_blank">MIT License</a>
        </li>
      </ul>
    </div>
  </div>
</footer>